.git
.gitignore
node_modules
.next
.next/*
.env
.env.local
.env.production
.editorconfig
.vercel
.vscode
*.md
docs
.agents
.antigravityignore
.genkit
.idx
studio.json
metadata.json
components.json
apphosting.yaml
skills-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
